
body {
    background-color:rgb(26,25,25);
    padding:0px;
    margin:0px;
    font-family: "Helvetica Neue";
    -webkit-perspective: 500px;
    perspective: 500px;
}
h2{
    font-family: "Helvetica Neue";
    font-weight: 100;
    font-size: 1.4em;
    color: #fff;
}
#content {
    transition: 0.2s ease-out;
    width:100%;
    height:100%;
    position:relative;
    font-family:'Helvetica' sans-serif;
    z-index:1;
}

/* Menu */
#menu-link {
    margin:20px;
    position:absolute;
    left:0px;
    bottom:0px;
    cursor:pointer;
}
#menu-link:hover{
    color: #fff;
}
#menu-wrap{
    opacity: 0;
    display: none;
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-perspective: 500px; /* Chrome, Safari, Opera  */
    perspective: 500px;

}
#menu {
    display: none;
    opacity: 0;
    width: 340px;
    height: 300px;
    z-index:9999;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -170px;
    margin-top: -150px;

}
#menu a{
    display: block;
    width: 100%;
    height: 70px;
    margin: 20px 0px;
    background-color: #fff;
    padding: 25px;
    box-sizing: border-box;
    font-weight: 500;
    cursor: pointer;
}
.light-grey {
    color:#b3b3b3;   
}
.caps {
    text-transform: uppercase
}

/* Contact form */

#contact-form{
    display: none;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 55%; /* animates to 50% */
    height: 500px;
    width: 500px;
    margin-top: -250px;
    margin-left: -250px;
    z-index: 9999;
}
#contact-form input, #contact-form textarea{
    display: block;
    width: 100%;
    min-height: 50px;
    padding-left: 25px;
    margin: 20px 0px;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #ccc;
    color: #fff;
    font-size: 1em;
    font-weight: 200;
    outline: none;
    z-index: 9999;
}
#contact-form textarea{
    margin-top: 50px;
}
#contact-form-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0F0E1D;
    opacity: 0;
    z-index: 900;
    pointer-events: none;
}

/* Div positionings */
.centre-middle {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.centre-full-text {
    width:100%;
    text-align:center;
}
.float-left {
    float:left;
    position:relative;
}
.float-right {
    float:right;
    position:relative;
}
.overflow-hidden {
    overflow:hidden;
}

/* Div styles */
.pointer {
    cursor:pointer;   
}
.fadein {
    opacity:0;   
}
.background-full {
    background-size:cover;   
}

/* Text styles */
.thin {
    font-weight:100;
}
.semibold {
    font-weight:500;   
}
.bold {
    font-weight:600;
}

.small {
    font-size:14px;   
}
.medium {
    font-size:16px;   
}

.italics {
    font-style:italic;
}

.br-thick {
    line-height:50px;  
}

/* Colours */
.black {
    color:#000; 
}
.white {
    color:#fff;   
}
a {
    text-decoration:none;   
}
a.white {
    color:#fff;   
}