body {
    background-color:rgb(26,25,25);
    padding:0px;
    margin:0px;
    min-height:750px;
}

#content {
    width:100%;
    height:100%;
    position:relative;
    font-family:'Helvetica' sans-serif;
    z-index:1;
}

/* Menu */
#menu-link {
    margin:20px;
    position:absolute;
    left:0px;
    bottom:0px;
    cursor:pointer;
}
#menu {
    background-color:#ccc;
    width:250px;
    height:400px;
    z-index:9999;
}

/* Text styles */
.white {
    color:#fff;
}
.light-grey {
    color:#b3b3b3;   
}
.caps {
    text-transform: uppercase
}

/* Div positionings */
.centre-middle {
    position:absolute;
    top:50%;
    left:50%;
    margin-right:-50%;
    transform:translate(-50%,-50%);
    margin:0 auto;
}
.float-left {
    float:left;
    position:relative;
}
.float-right {
    float:right;
    position:relative;
}
.overflow-hidden {
    overflow:hidden;
}

/* Div styles */
.pointer {
    cursor:pointer;   
}


/* Text styles */
.thin {
    font-weight:300;
}
.bold {
    font-weight:600;
}   
.small {
    font-size:14px;   
}
.medium {
    font-size:16px;   
}

/* Colours */
.black {
    color:#000; 
}
.white {
    color:#fff;   
}
a {
    text-decoration:none;   
}
a.white {
    color:#fff;   
}